body{
    text-align: center;
    background-color:aquamarine;
}
#p1{
    font-size: 50px;
    font-family: cursive;
    font-variant: small-caps;
    font-style: oblique;
}
div{
    height:8px;
    width:25px;
    background-color: antiquewhite;
}
span{
     font-size: 27px;
    font-family: cursive;
    font-variant: small-caps;
    font-style: oblique;
}
span{
     font-size: 23px;
    font-family:monospace;
    font-variant:inherit;
    font-style:normal;
}
img{
  width:500px;
    height:400px;
    border-color: black;
    border-radius:20%;
    padding: 4px;
}
